body {
    color:aliceblue;
    font-size: 22px;
    display: flex;
    justify-content: center;
    margin-top: 2em;
    background:  linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(9,17,121,1) 100%);
    }
    
.hide {
    display: none;
}
#Parrafo{
    text-align: center;

}